{% load static %}

<footer>
    <!--Social Media icons-->
    <a href="" target="_blank" rel="noopener" aria-label="link to facebook- opens in a new tab">
        <img src="{% static '/social-icons/facebook-app-icon.png' %}" alt=" facebook icon" class="social-icon">
    </a>
    <a href="" target="_blank" rel="noopener" aria-label="link to youtube- opens in a new tab">
        <img src="{% static '/social-icons/youtube-square-color-icon.png' %}" alt=" youtube icon" class="social-icon">
    </a>
    <a href="" target="_blank" rel="noopener" aria-label="link to twitter- opens in a new tab">
        <img src="{% static '/social-icons/twitter-square-color-icon.png' %}" alt=" twitter icon" class="social-icon">
    </a>
    <a href="" target="_blank" rel="noopener" aria-label="link to instagram- opens in a new tab">
        <img src="{% static '/social-icons/instagram-color-icon.png' %}" alt=" instagram icon" class="social-icon">
    </a>
</footer>